.echarts-date {
  /* padding: 30px 30px 5px; */
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  /* border: 2px solid #333; */
  /*border-left: 2px solid #333;
  border-left: 2px solid #333; */
}

.echarts-div {
  display: flex;
  /* border: 2px solid #000; */
}
.day-pick-div {
  position: absolute;
  display: flex;
  right: 0;
}
