.echarts {
  margin: 20px auto;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  box-shadow: 1px 10px 15px rgba(185, 175, 175, 0.7);
  text-align: center;
}

.el-divider--vertical {
  display: inline-block;
  position: absolute;
  height: 25em;
  width: 2px;
  margin: 10px auto;
}
