.echarts {
  margin: 20px auto;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  box-shadow: 1px 10px 15px rgba(185, 175, 175, 0.7);
  text-align: center;
}

.el-divider--vertical {
  display: inline-block;
  position: absolute;
  height: 25em;
  width: 2px;
  margin: 10px auto;
}

.el-tabs--border-card {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  border: none;
  border-radius: 2rem;
}

.el-tabs__item {
  height: 50px;
  width: 150px;
  font-size: 1.1em;
  line-height: 50px;
  vertical-align: middle;
}

.el-tabs__item img {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}
