.main {
  padding: 30px 30px 5px;
  position: absolute;
  min-height: 100%;
  border-color: #000;
  transition: 0.15s border-top-width;
  min-width: 100%;
  display: flex;
  background: #c8c4ca;
  justify-content: center;
}
.content {
  /* border-right: 1px solid #333;
  border-left: 1px solid #333; */
  padding: 30px 30px 6px;
}

.echarts {
  background: rgb(220, 220, 220);
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 1px 10px 15px rgba(185, 175, 175, 0.7);
  text-align: center;
}

.el-divider--vertical {
  display: inline-block;
  position: absolute;
  height: 25em;
  width: 2px;
  margin: 10px auto;
}

.el-tabs--border-card {
  background: rgba(185, 175, 175, 0.7);
  border: none;
}

.el-tabs__item {
  height: 50px;
  width: 150px;
  font-size: 1.1em;
  line-height: 50px;
  vertical-align: middle;
}

.el-tabs__item img {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}
